<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>__MODULE__</string>
	<key>CFBundleIdentifier</key>
	<string>__BUNDLE__.__MODULE__</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>OSBundleCompatibleVersion</key>
	<string>__VERSION__</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>XenosController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>__BUNDLE__.__MODULE__</string>
			<key>IOClass</key>
			<string>XenosController</string>
			<key>IOMatchCategory</key>
			<string>XenosController</string>
			<key>IOPCIMatch</key>
			<string>0x58411414 0x58211414</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.1</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.1</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
